<main aria-labelledby="title">
    <h3>@ViewBag.Message</h3>

    <p>Tämän sivuston tarkoituksena on tarjota sinulle mahdollisuus jakaa kokemuksiasi ja arviointeja aiemmista kontakteistasi. Näin voit auttaa muita käyttäjiä tekemään parempia päätöksiä esimerkiksi työpaikkojen tai vuokra-asuntojen suhteen.</p>

    <p>Arvioiden jakaminen voi olla hyödyllistä monissa tilanteissa, kuten silloin, kun haet uutta työpaikkaa tai olet etsimässä uutta vuokra-asuntoa. Sivuston avulla voit luoda luotettavan ja avoimen kuvan itsestäsi tai aiemmista kontakteistasi, mikä voi helpottaa uusien mahdollisuuksien löytymistä.</p>

    <p>Kun jaat arvostelujasi, autat paitsi muita käyttäjiä myös itseäsi, sillä hyvät suositukset voivat parantaa mahdollisuuksiasi saada haluamasi työpaikka tai asunto. Tämä sivusto pyrkii siis tukemaan sinua sekä työnhaussa että asumisen järjestelyissä.</p>
</main>