<main aria-labelledby="title">

    <h3>@ViewBag.Message</h3>

    <address>
        Kortisbackantie 8<br />
        07110 Hinthaara<br />
        <abbr title="Phone">Puh:</abbr>
        +358405244109
    </address>

    <address>
        <strong>Sähköposti:</strong>   <a href="mailto:walter@wbservice.fi">walter@wbservice.fi</a><br />
    </address>
</main>