<main aria-labelledby="title">

    <h3>@ViewBag.Message</h3>


    <address>
        <strong>Sähköposti:</strong>   <a href="mailto:walter@wbservice.fi">walter@wbservice.fi</a><br />
    </address>
</main>