@{
    ViewBag.Title = "Home Page";
    var userRole = Session["UserRole"];  // Check the role from the session
}

<h1>Tervetuloa Suosittelijaan!</h1>

@if (userRole == null)
{
    <div>
        <h3>Login</h3>
        @Html.Action("Login", "Account")
    </div>
}
else if (userRole.ToString() == "User")
{
    <div>
        <p>Olet nyt kirjautunut sisään @Session["UserName"]!</p>
    </div>
}
else if (userRole.ToString() == "Supplier")
{
    <div>
        <p>Olet nyt kirjautunut sisään @Session["SupplierName"]!</p>
    </div>
}

<main>
    @if (userRole == null)
    {
        <div>
            <p>Kirjaudu sisään, jotta voit antaa tai vastaanottaa suosituksia.</p>
        </div>
    }
    else if (userRole.ToString() == "User")
    {
        <!-- Show Supplier Rating Section for Regular Users -->
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Suosittele suosittelijaa!</h2>
            <p>
                Täällä voit antaa suosituksia henkilöille erilaisissa elämäntilanteissa.
                Sinun tulee ensin rekisteröityä ja kirjautua sisään.
                Sen jälkeen voit sekä antaa suosituksia että lukea muiden antamia suosituksia.
                Muista aina kysyä suosituksen saaneelta henkilöltä, onko hän antanut luvan suosituksen antamiseen.
                Henkilö antaa sinulle käyttäjätunnuksen ja kertakäyttöisen koodin, joilla pääset antamaan suosituksen.
            </p>
            <a href="/SupplierRatings/Create" class="btn btn-outline-dark">Anna suositus</a>
        </section>
    }
    else if (userRole.ToString() == "Supplier")
    {
        <!-- Show User Rating Section for Suppliers -->
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Suosittele hakijaa</h2>
            <p>
                Täällä voit antaa suosituksia henkilöille erilaisissa elämäntilanteissa.
                Sinun tulee ensin rekisteröityä ja kirjautua sisään.
                Sen jälkeen voit sekä antaa suosituksia että lukea muiden antamia suosituksia.
                Muista aina kysyä suosituksen saaneelta henkilöltä, onko hän antanut luvan suosituksen antamiseen.
                Henkilö antaa sinulle käyttäjätunnuksen ja kertakäyttöisen koodin, joilla pääset antamaan suosituksen.
            </p>
            <a href="/UserRatings/Create" class="btn btn-outline-dark">Anna suositus</a>
        </section>
    }
</main>
