@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Linkki lähetetty sähköpostiin</h2>
<p>Tarkista sähköposti ja seuraa ohjeita!</p>
<p>Sinut siiretään Kirjautumis sivulle 5 sekunnin kuluttua!</p>
<!-- Add JavaScript for the automatic redirection -->
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = '@Url.Action("Login", "Account")';
    }, 5000); // 5000 milliseconds = 5 seconds
</script>


