@model RateApp.Models.UserRatings

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>Omat arvostelut</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Arvostelu:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingValue)
        </dd>

        <dt>
            Viesti:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            Arvostelija:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suppliers.SupplierName)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Takaisin lista näkymään", "Index")
</p>


